git add requirements.txt
git commit -m "Fix: ensure setuptools, pip, and wheel installed"
git push origin main
Flask==2.0.1
flask-login==0.6.0
flask-sqlalchemy==3.0.0
flask-bcrypt==1.0.1
plotly==5.13.0
pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2
catboost==1.2.0
python-dotenv==1.0.0
gunicorn==20.1.0
